.banner {
    margin: 11vh auto 20px auto;
    width: 80%;
    height: 60vh;
    background-image: url(/img/img_carrossel/depositphotos_163278416-stock-photo-programming-source-code-abstract-background.jpg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.315);
}

h1 {
    color: white;
}

span {
    color: red;
}

@media (max-width: 1130px) {
    .banner {
        margin: 11vh auto 20px auto;
    }
}

@media (max-width: 400px) {
    .banner {
        margin: 130px auto 20px auto;
        width: 100%;
        border-radius: 0;
    }
}

@media (max-height: 768px) {
    .banner {
        margin: 18vh auto 20px auto;
    }
}

@media (max-height: 600px) {
    .banner {
        margin: 110px auto 20px auto;
    }
}