/* Reset dos valores da página */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 500vh;
}

body {
    font-family: "Nunito", sans-serif;
    background-image: url(/img/nav_images/Imagem_fundoVitor.png);
    background-size: cover;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 200px;
}


.container {
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1280px;
}