.sobre {
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.24);
    text-align: center;
}

.sobre h2 {
    font-size: 34px;
    font-weight: bolder;
    margin: 5px 0 10px 0;
}

.sobre .line {
    height: 1px;
    background-color: #001aff;
    width: 80%;
    margin: 0px auto 10px auto;
}

.sobre p {
    margin: 10px;
}